body {
  /* width: 90%; */
  margin: 2em auto 0 auto;
}

input {
  padding: 0.9rem;
}

.images {
  column-count: 3;
}

.imageThumb {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #ff7637;
}

a:hover {
  color: #eb510a;
}